VERSION=develop

LOG_LEVEL=info
LOG_FORMAT=text
LOG_DESTINATION=

GLOB_PATTERNS=*.mkv,*.avi,*.mov
SCAN_INTERVAL=10
FILE_UNCHANGED_INTERVALS=3
SOURCE_DIRECTORY_PATH=./data/input
DESTINATION_DIRECTORY_PATH=./data/output
REMOVE_SOURCE_AFTER_CONVERT=false
REMOVE_SOURCE_AFTER_CONVERT_DELAY=0
FFMPEG_PATH=/usr/bin/ffmpeg
FFMPEG_ARGS=-i %s -c:v libx264 -c:a aac %s.mp4
CONCURRENCY=1
